nav{
    background: black!important;
    border: none!important;
    padding: 2%;
}
a{
    color: white!important;
    font-size: 23px!important;
    text-decoration: none;
}
.button-small{
    background: #a937a3;
    color: white!important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: max-content;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: black!important;
}
.hero-heading{
    font-size: 89px;
    color: white;
}
.hero{
    text-align: center;
    width: 58%;
    margin-left: 21%;
    /* font-size: 80px; */
    /* color: white; */
    margin-top: 8%;
}
.hero-description{
    color: white;
    font-size: 26px;
}
.button-large{
    background: #a937a3;
    color: white!important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
}
.navbar{
    display:flex;
    width: 96%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.grow-list{
    width:inherit;
}
.list-item{
    float:left;
    margin-left:5%;
}
*{
    font-family:'poppins'
}